# Distribution / packaging
.Python
env/
build/
develop-eggs/
node_modules/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

todos/__pycache__/*

.dynamodb/

# Serverless directories
.serverless
